<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
  <head>{% load static %}
    <meta charset="utf-8">
    <title>SuperDB Administrator | {% block title %}Page without title tag{% endblock %}</title>
    <base href="/">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
  </head>
  <body class="Body">
    {% block content %}{% endblock %}

  <script type="text/javascript" src="{% static 'js/inline.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/styles.bundle.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/main.bundle.js' %}"></script>
  </body>
</html>
